<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="Студия КИТ"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#b91d47">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>
<body>

  <!-- Прогресс прокрутки страницы -->

  <div class="progress-line d-none d-md-block fixed zi-4 bg-second w-0" data-progress-line></div>

  <!-- Шапка документа -->

  <% var social = ['ok', 'yt', 'rt', 'vk', 'tg'] %>

  <header class="header container flex align-center justify-between gap-8 gap-md-4 fixed zi-3 py-2 py-md-4 linear duration-3" data-header>
    <button class="btn btn--white d-lg-none text-38 radius-2" data-burger data-waved>
      <svg class="icon">
        <use xlink:href="img/icons.svg#burger">
      </svg>
    </button>
    <a class="logo btn" href="/">
      <picture>
        <source srcset="img/pictures/logo.webp" type="image/webp">
        <img class="w-100" src="img/pictures/logo.png" alt="">
      </picture>
    </a>
    <nav class="d-none d-lg-flex align-center justify-between gap-2 mx-auto">
      <a class="btn btn--white link text-14 bold-4 radius-1 w-max py-3 px-5" data-scroll="top" data-waved href="#about">О нас</a>
      <a class="btn btn--white link text-14 bold-4 radius-1 w-max py-3 px-5" data-scroll="top" data-waved href="#evidence">Интересные факты</a>
      <a class="btn btn--white link text-14 bold-4 radius-1 w-max py-3 px-5" data-scroll="top" data-waved href="#reviews">Отзывы о концертах</a>
      <a class="btn btn--white link text-14 bold-4 radius-1 w-max py-3 px-5" data-scroll="top" data-waved href="#tickets">Купить билет</a>
    </nav>
    <div class="d-none d-md-flex align-center gap-4">
      <% for (var i = 0; i < social.length; i++) { %>
        <a class="btn btn--white text-24 radius-max" data-waved href="javascript: ;" target="_blank">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#<%= social[i] %>">
          </svg>
        </a>
      <% } %>
    </div>
  </header>

  <!-- Мобильное меню -->

  <section class="mobile fixed zi-6 w-100 h-100 ease duration-1" data-mobile="hidden">
    <div class="mobile__content flex flex-column overflow-auto w-100 h-100 ease duration-3">
      <div class="mobile__head flex align-center gap-8 relative bg-black p-4 ease duration-5 delay-3">
        <button class="btn text-24" data-mobile-close>
          <svg class="icon color-white">
            <use xlink:href="img/icons.svg#close">
          </svg>
        </button>
        <a class="logo btn" href="/">
          <picture>
            <source srcset="img/pictures/logo.webp" type="image/webp">
            <img class="w-100" src="img/pictures/logo.png" alt="">
          </picture>
        </a>
      </div>
      <div class="mobile__nav flex flex-column gap-8 relative color-white mb-10 py-8 px-4 ease duration-9 delay-5">
        <a class="link text-24 fade-80 w-max" data-scroll="top" href="#about">О нас</a>
        <a class="link text-24 fade-80 w-max" data-scroll="top" href="#evidence">Интересные факты</a>
        <a class="link text-24 fade-80 w-max" data-scroll="top" href="#reviews">Отзывы о концертах</a>
        <a class="link text-24 fade-80 w-max" data-scroll="top" href="#tickets">Купить билет</a>
      </div>
      <div class="mobile__footer relative mt-auto px-4 pt-4 pb-10 ease duration-5 delay-9">
        <div class="flex align-center justify-center gap-6">
          <% for (var i = 0; i < social.length; i++) { %>
            <a class="btn btn--second text-38 radius-max" data-waved href="javascript: ;" target="_blank">
              <svg class="loader-icon icon">
                <use xlink:href="img/icons.svg#<%= social[i] %>">
              </svg>
            </a>
          <% } %>
      </div>
    </div>
  </section>

    <!-- Перетаскиваемое социальное меню -->

    <nav class="social flex flex-column align-center justify-center fixed zi-2 pointer-none" data-social data-draggable>
      <div class="social__round bg-block radius-max fade-0 pointer-all duration-4 ease-in-out" data-social-round="hidden">
        <% for (var i = 0; i < social.length; i++) { %>
          <a class="btn btn--second absolute text-32 radius-max" data-waved data-social-link href="javascript: ;" target="_blank">
            <svg class="icon">
              <use xlink:href="img/icons.svg#<%= social[i] %>">
            </svg>
          </a>
        <% } %>
      </div>
      <button class="social__btn btn btn--second btn--contur radius-max shadow-box pointer-all overflow-hidden p-1" data-social-button id="draggable" title="Кликните 2 раза"></button>
    </nav>