<% var data = {

  title: 'ККХ',
  status: true

} %>

<%= _.template(require('./includes/header.html').default)({data}) %>

<!-- Главный блок -->

<main class="main container flex align-center justify-center relative bg-primary overflow-hidden">
  <div class="bg-block">
    <div class="pack pack--rect h-100">
      <picture>
        <source srcset="img/pictures/main-bg.webp" type="image/webp">
        <img class="image image--tr" src="img/pictures/main-bg.png" loading="lazy" alt="">
      </picture>
    </div>
  </div>
  <div class="flex flex-column align-center justify-center relative color-white">
    <h1 class="font-alt text text--center text-30 text-md-38 text-lg-48 bold-6 lh-3 mb-4 anim anim--up ease duration-5" data-anim="hidden">
      Российская культура: <br class="d-none d-md-block"> Сергей Рахманинов
    </h1>
    <h3 class="text text--center text-14 text-md-16 bold-4 lh-3 fade-70 mb-5 mb-md-10 anim anim--up ease duration-5 delay-3" data-anim="hidden">
      Открытый всероссийский музыкальный фестиваль, <br class="d-none d-md-block"> посвященный 150-летию со дня рождения композитора
    </h3>
    <div class="main__btns flex align-center justify-center gap-6 w-100 anim anim--up ease duration-5 delay-5" data-anim="hidden">
      <button class="flex-grow btn btn--second btn--lg btn--fill btn--glow w-100 mx-auto" data-waved>7 декабря</button>
      <button class="flex-grow btn btn--second btn--lg btn--fill btn--glow w-100 mx-auto" data-waved>8 декабря</button>
    </div>
  </div>
</main>

<!-- Программа -->

<section class="container container--sm relative overflow-hidden" id="programm">
  <h2 class="font-alt text text--center text-30 text-md-38 text-lg-48 bold-6 lh-3 mb-5 mb-md-10 anim anim--up ease duration-5" data-anim="hidden">Программа фестиваля</h2>
  <div class="grid gap-5 gap-lg-10">
    <div class="relative bg-grey col-12 col-md-6 anim anim--right ease duration-5" data-anim="hidden">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/programm-1.webp" type="image/webp">
        <img class="d-block relative w-100" src="img/pictures/programm-1.jpg" alt="">
      </picture>
    </div>
    <div class="relative bg-grey col-12 col-md-6 anim anim--left ease duration-5" data-anim="hidden">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/programm-2.webp" type="image/webp">
        <img class="d-block relative w-100" src="img/pictures/programm-2.jpg" alt="">
      </picture>
    </div>
  </div>
</section>

<!-- Фестиваль -->

<section class="festival container relative overflow-hidden" id="festival">
  <div class="festival__bg blur bg-block">
    <div class="pack pack--rect h-100">
      <picture>
        <source srcset="img/pictures/blur.webp" type="image/webp">
        <img class="image" src="img/pictures/blur.png" loading="lazy" alt="">
      </picture>
    </div>
  </div>
  <div class="festival__block flex align-center justify-between gap-5 gap-lg-10 relative">
    <div class="festival__image relative bg-grey w-100 anim anim--right ease duration-5" data-anim="hidden">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/festival-bg.webp" type="image/webp">
        <img class="d-block relative w-100" src="img/pictures/festival-bg.jpg" alt="">
      </picture>
      <div class="bg-block flex flex-column color-white p-5 p-md-10">
        <h3 class="font-alt text-24 bold-6 lh-3 mb-3 mt-auto">Алексей Пугачев</h3>
        <p class="text-14 bold-4 lh-4">
          Инициатор - генеральный директор культурного Фонда отечественного искусства «Классика ХХI», генеральный продюсер Фестиваля
        </p>
      </div>
    </div>
    <div class="festival__content w-100 anim anim--left ease duration-5" data-anim="hidden">
      <h2 class="font-alt text text-30 text-md-38 text-lg-48 bold-6 lh-3 mb-5 mb-md-10">О фестивале</h2>
      <p class="text-15 bold-4 lh-5 mb-5">
        Открытый Всероссийский музыкальный фестиваль «Российская культура: Сергей Рахманинов» — масштабный проект в области академического музыкального искусства.
      </p>
      <p class="text-15 bold-4 lh-5 mb-5">
        Фестиваль проводится в 2023 году, объявленном Президентом Российской Федерации Годом педагога и наставника, в рамках Указа Президента Российской Федерации от 25.01.2020 г.
      </p>
      <p class="text-15 bold-4 lh-5 mb-5">
        № 62 «О праздновании 150-летия со дня рождения С.В. Рахманинова».Целью проекта является создание Всероссийской созидательной платформы для поддержки молодых исполнителей в области академического искусства, укрепления российских традиционных духовно-нравственных ценностей. <br>
        Новый проект культурного Фонда отечественного искусства «Классика ХХ» — одно из немногих творческих событий в Российской Федерации, где реализуется программа продвижения молодых музыкантов в возрасте от 14 до 35 лет, наставнического пост-сопровождения по отношению к ним со стороны выдающихся педагогов и мастеров исполнительского искусства.
      </p>
      <p class="text-15 bold-4 lh-5">
        Важнейшая задача фестиваля — проведение Всероссийского образовательного кластера с участием представителей из 70 российских регионов.
      </p>
    </div>
  </div>
</section>

<!-- Артисты -->

<section class="artists container" id="artists">
  <h2 class="font-alt text text--center text-30 text-md-38 text-lg-48 bold-6 lh-3 mb-5 mb-md-10 anim anim--up ease duration-5" data-anim="hidden">Артисты фестиваля</h2>
  <div class="artists__block grid gap-4 gap-md-10">
    <% for (var i = 1; i < 10; i ++) { %>
      <div class="artists__item col-6 col-md-3 flex flex-column align-center justify-center">
        <picture>
          <source srcset="img/pictures/artist-<%= i %>.webp" type="image/webp">
          <img class="w-100 mb-5" src="img/pictures/artist-<%= i %>.png" alt="">
        </picture>
        <span class="text text--center text-16 bold-4 lh-2">Валерий Полянский</span>
      </div>
    <% } %>
  </div>
</section>

<!-- Купить билет -->

<section class="tickets container relative bg-black overflow-hidden" id="tickets">
  <div class="tickets__bg bg-block anim anim--decrease linear duration-10" data-anim="hidden">
    <div class="pack pack--rect h-100">
      <div class="loader">
        <span class="loader-progress">
          <svg class="loader-icon icon">
            <use xlink:href="img/icons.svg#loader">
          </svg>
        </span>
      </div>
      <picture>
        <source srcset="img/pictures/contert.webp" type="image/webp">
        <img class="image image--tl" src="img/pictures/contert.png" alt="">
      </picture>
    </div>
  </div>
  <div class="tickets__content flex flex-column align-center justify-center relative zi-1 color-white border radius-8 py-10 px-5">
    <div class="tickets__pack pack pack--box w-100 mb-6 anim anim--up ease duration-5" data-anim="hidden">
      <picture>
        <source srcset="img/pictures/logo-small.webp" type="image/webp">
        <img class="image image--sd" src="img/pictures/logo-small.png" alt="">
      </picture>
    </div>
    <h2 class="font-alt text text--center text-30 text-md-38 text-lg-48 bold-6 lh-3 mb-2 anim anim--up ease duration-5" data-anim="hidden">Успейте купить билет!</h2>
    <h3 class="text text--center text-14 text-md-16 bold-4 lh-3 fade-70 mb-5 mb-md-10 anim anim--up ease duration-5" data-anim="hidden">
      Не упустите возможность попасть на Открытый всероссийский музыкальный фестиваль, <br class="d-none d-md-block"> посвященный 150-летию со дня рождения композитора!
    </h3>
    <div class="tickets__btns flex align-center justify-center gap-6 w-100 anim anim--up ease duration-5 delay-5" data-anim="hidden">
      <button class="tickets__btn btn btn--second btn--lg btn--fill btn--glow w-100" data-waved>7 декабря</button>
      <button class="tickets__btn btn btn--second btn--lg btn--fill btn--glow w-100" data-waved>8 декабря</button>
    </div>
  </div>
</section>

<%= require('./includes/footer.html').default %>