// Главный блок
.main {
  min-height: 850px;

  @media (max-width: $lg) {
    & {
      min-height      : 600px;
    }
  }

  @media(max-width: $md) {
    &__btns {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

// Фестиваль
.festival {
  background: linear-gradient(180deg, var(--color-white) 0%, var(--color-none) 100%), #FBDEC4;

  &__bg {
    mix-blend-mode: overlay;
    transform     : scaleX(-1);
  }

  &__image {
    max-width: 540px;
  }

  &__content {
    max-width: 520px;
  }

  @media(max-width: $xl) {
    &__block {
      align-items: flex-start;
    }
  }

  @media(max-width: $lg) {
    &__image, &__content  {
      max-width: 100%;
    }

    &__block {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

// Артисты
.artists {
  @media (min-width: $xl) {
    &__block {
      grid-template-columns: repeat(10, 1fr);
    }

    &__item {
      grid-column: span 2;
    }
  }
}

// Купить билет
.tickets {
  &__bg {
    &::before {
      content   : "";
      position  : absolute;
      inset     : 0;
      background: linear-gradient(180deg, var(--color-none) 0%, var(--color-primary-30) 100%), var(--color-black-40);
      z-index   : 1;
    }
  }

  &__content {
    background     : radial-gradient(98.48% 326.98% at 0% 3.35%, var(--color-black-20) 0%, var(--color-white-10) 100%);
    backdrop-filter: blur(20px)
  }

  &__pack {
    max-width: 160px;
  }

  @media (min-width: $md) {
    &__btn {
      max-width: 250px;
    }
  }

  @media(max-width: $md) {
    &__btns {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

// Контакты
.contacts {
  &__square {
    max-width: 92px;
    height: 92px;
    background-image: linear-gradient(356.45deg, var(--color-black-30) 5.84%, var(--color-none) 94.16%);
  }
}

// Карта
.map {
  height: 600px;

  @media (max-width: $lg) {
    & {
      height: 370px;
    }
  }
}